/* Общее */
.m-0 { margin:0; }
.m-1 { margin:.25rem; }
.m-2 { margin:.5rem; }
.m-3 { margin:1rem; }
.m-4 { margin:1.5rem; }
.m-5 { margin:3rem; }

.mt-0 { margin-top:0; }
.mt-1 { margin-top:.25rem; }
.mt-2 { margin-top:.5rem; }
.mt-3 { margin-top:1rem; }
.mt-4 { margin-top:1.5rem; }
.mt-5 { margin-top:3rem; }

.p-0 { padding:0; }
.p-1 { padding:.25rem; }
.p-2 { padding:.5rem; }
.p-3 { padding:1rem; }
.p-4 { padding:1.5rem; }
.p-5 { padding:3rem; }

.ps-0 { padding:0; }
.ps-1 { padding:0 .25rem; }
.ps-2 { padding:0 .5rem; }
.ps-3 { padding:0 1rem; }
.ps-4 { padding:0 1.5rem; }
.ps-5 { padding:0 3rem; }

.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }
.fw700 { font-weight: 700; }

.fsmall { font-size: .7rem; }
.fmedium { font-size: 1rem; }
.flarge { font-size: 1.2rem; }
.fxlarge { font-size: 1.5rem; }
.fxxlarge { font-size: 1.7rem; }

.text-decoration-none {text-decoration: none;}
.text-center {text-align: center;}

.cblue { color:rgb(3, 169, 244); }
.cgray { color:gray; }
.cwhite { color: aliceblue; }

.bg-gray { background-color: rgb(247, 250, 252);}
.bg-white { background-color: white; }

.d-flex { display: flex; }
.align-center { align-items: center; }
.fd-columns { flex-direction: column; }
.fd-rows { flex-direction: row; }
.fd-row-reversed { flex-direction: row-reverse; }
.wrap { flex-wrap: wrap; }

.w-50 {width: 50%;}
.w-100 {width: 100%;}

* {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(26, 32, 44);
}

body {
    margin: 0;
}

.header {
    display: flex;
    padding: 0.8rem 0;
    justify-content: space-around;
}

.header .logo img {
    height: 30px;
    margin-right: 2%;
}

.header .item {
    display: flex;
    align-items: center;
}

.header .links {
    display: flex;
    gap: 20px;
}

.link {
    color: rgb(44, 58, 58);
    text-decoration: none;
}

/* Главный слоган */
.main-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-title .item {
    margin: 0;
}

.download-btn {
    border-radius: 3px;
    border-color: transparent;
    background-color: rgb(3, 169, 244);
}

/* Остальные блоки */
.block {
    padding: 3rem 0;
    max-width: 530px;
    display: flex;
    align-items: center;
}

.feature-img {
    max-height: 250px;
}

@media (max-width: 576px) {
    .w-full-576 {
        width: 100%;
    }
}

